<!DOCTYPE html>
<html lang="en">
  <head>

    <title><%= htmlWebpackPlugin.options.productName %> - Flamenco metronome</title>

    <meta charset="utf-8">
    <meta name="description" content="A Compás is a web-based flamenco metronome, also available as an Android application. It will let you play various flamenco rhythms and change the tempo. It features a graphical visualization and some options.">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="statics/icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="statics/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="statics/icons/favicon.ico">

    <meta property="og:title" content="A Compás - Flamenco metronome" />
    <meta property="og:description" content="A Compás is a web-based flamenco metronome, also available as an Android application. It will let you play various flamenco rhythms and change the tempo." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://acompas.org" />
    <meta property="og:image" content="https://acompas.org/statics/icons/logo-512.png" />

    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com blob: 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *; script-src 'self' https://piwik.acompas.org 'unsafe-eval' 'unsafe-inline' blob:; img-src 'self' https://piwik.acompas.org 'unsafe-inline';">

    <meta name="google-site-verification" content="fFgJbLDkYtQkpffxa1orGdi6V9djLge-WYfOe6ckqAA" />

  </head>
  <body>

    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>

    <script type="application/ld+json">
       {
         "@context": "http://schema.org/",
         "@type": "WebApplication",
         "name": "A Compás",
         "browserRequirements": "Requires both HTML5 and Web Audio API support",
         "applicationCategory": "Music",
         "operatingSystem": "Any",
         "url": "https://acompas.org",
         "image": "https://acompas.org/statics/icons/logo-512.png",
         "description": "A Compás is a web-based flamenco metronome, also available as an Android application. It will let you play various flamenco rhythms and change the tempo. It features a graphical visualization and some options."
       }
     </script>
  </body>
</html>
